<html>
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" type="text/css" href="LOGIN.css">
    </head>
    <body>
        <div class="navi">
            <nav>
            <img src="logo.png" width="200" height="80">
            <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/ABOUT">ABOUT US</a></li>
            <li><a href="/CONTACT">CONTACT US</a></li>
            <li><a href="/LOGIN">LOGIN/SIGNUP</a></li>
            <li><a href="/MENU">MENU</a></li>
            <li><a href="/ORDER NOW">ORDER NOW</a></li>
            <li><a href="/OFFERS">OFFERS</a></li>
            </ul>
            </nav>
    </div>
        <div class="loginbox">
        <img src="avatar.png" class="avatar">
             <h1>Login Here</h1>
             <form>
                 <p>Username</p>
                 <input type="text" name="" placeholder="Enter Username">
                 <p>Password</p>
                 <input type="password" name="" placeholder="Enter Password">
                 <input type="submit" name="" value="Login">
                 <a href="#">Lost your password?</a><br>
                 <a href="REGISTER.html">Don't have an account?</a>
             </form>
        </div>

    </body>
</html>