<html>
    <head>
        <title>Foodies.com</title>
        
        <link rel="stylesheet" type="text/css" href="ORDER NOW.css">
    </head>
<body>
    <div class="navi">
        <nav>
        <img src="logo.png" width="200" height="80">
        <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/ABOUT">ABOUT US</a></li>
        <li><a href="/CONTACT">CONTACT US</a></li>
        <li><a href="/LOGIN">LOGIN/SIGNUP</a></li>
        <li><a href="/MENU">MENU</a></li>
        <li><a href="/ORDER-NOW">ORDER NOW</a></li>
        <li><a href="/OFFERS">OFFERS</a></li>
        </ul>
        </nav>
</div>
    </body>
</html>